<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename = 'app.js') }}"></script>
        <script src="{{ url_for('static', filename = 'ovenplayer/ovenplayer.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    </head>
    <body>
        {% set election = government.get_election() %}
        <h2>
            Current:
            <div id="current-box" style="background:{{government.current.color.as_hex_str()}};width:1em;display:inline-table">&nbsp;</div>
            <span id="current-hex">{{ government.current.color.as_hex_str() }}</span>
        </h2>

        <div style="display: flex; align-items: center; justify-content: center;">
            <div id="vote-time">
                Time remaining:
                <h1 style="margin-top: 0"><span id="clock">{{ election.get_clock_str() }}</span></h1>
            </div>
            <div id="rest-time">
                Results:
                <h1 style="margin-top: 0">
                    <span style="color: #ff0000" id="r_count">{{ government.current.tally['R'] }}</span>
                    <span style="color: #00ff00" id="g_count">{{ government.current.tally['G'] }}</span>
                    <span style="color: #0000ff" id="b_count">{{ government.current.tally['B'] }}</span>
                </h1>
            </div>
        </div>

        <script>
        {% if government.resting %}
            $('#vote-time').hide();
        {% else %}
            $('#rest-time').hide();
        {% endif %}
        </script>

        <div id="player"></div>

        <div id="voting-container">
            <div id="voter-interface">
            <button style="background: red; color: white" onclick="vote('R')">Vote R</button>
            <button style="background: green; color: white" onclick="vote('G')">Vote G</button>
            <button style="background: blue; color: white" onclick="vote('B')">Vote B</button>
            </div>
            <div id="voter-result">
            {% if election.retrieve_vote(voter) == 'R' %}
                {% set voted_color = 'red' %}
            {% elif election.retrieve_vote(voter) == 'G' %}
                {% set voted_color = 'green' %}
            {% elif election.retrieve_vote(voter) == 'B' %}
                {% set voted_color = 'blue' %}
            {% else %}
                {% set voted_color = 'white' %}
            {% endif %}
            You voted for <span style="color:{{voted_color}}" id="vote">{{ election.retrieve_vote(voter) }}</span>
            </div>
        </div>

        <script>
        {% if election.can_vote(voter) %}
            $('#voter-result').hide();
        {% elif not government.resting %}
            $('#voter-interface').hide();
        {% else %}
            $('#voter-interface').hide();
            $('#voter-result').hide();
        {% endif %}
        </script>

        <h3>Your voter ID: <span style="color: yellow" id="voter-id">{{ voter }}</span></h3>

    </body>
</html>


