<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename = 'app.js') }}"></script>
        <script src="{{ url_for('static', filename = 'ovenplayer/ovenplayer.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    </head>
    <body>
        {% set election = government.get_election() %}
        <h2>In office: <span style="color: green" id="winner">{{ election.default }}</span></h2>

        <div style="display: flex; align-items: center; justify-content: center;">
            <h1>You have <span id="clock">{{ election.get_countdown() }}</span> to vote!</h1>
        </div>

        <div id="player"></div>

        <div id="voting-container">
            <div id="voter-interface">
            <button onclick="vote('0')">Vote OFF</button>
            <button onclick="vote('1')" >Vote ON </button>
            </div>
            <div id="voter-result">
            You voted for <span style="color: green" id="vote">{{ election.retrieve_vote(voter) }}</span>
            </div>
        </div>

        <script>
        {% if election.can_vote(voter) %}
            $('#voter-result').hide();
        {% else %}
            $('#voter-interface').hide();
        {% endif %}
        </script>

        <h3>Your voter ID: <span style="color: yellow" id="voter-id">{{ voter }}</span></h3>

    </body>
</html>


